html, body {
	padding: 0px;
	margin:0px;
	font-family: 'Cantarell', sans-serif;
	background-color: #bbb; 
	color: black;
	height:100%;
}

a:link, a:visited{
	color: #600;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

h1 {
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #600;
}

h2 {
	color: #600;
}

hr {
	border: 1px solid #600;
	color: #600;
	background-color: #600;
	width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
}

header h1 {
	text-shadow: 2px 0 0 #600, -2px 0 0 #600, 0 2px 0 #600, 0 -2px 0 #600, 1px 1px #600, -1px -1px 0 #600, 1px -1px 0 #600, -1px 1px 0 #600;
	text-align: center;
}

header img {
	display: inline-block;
	vertical-align: middle;
	border-radius: 0%;
	box-shadow: 0px 0px 0px 0px #000000;
}

header h1 a:link, header h1 a:visited, header h1 a:hover {
	text-decoration: none;
	color: #bbb;
}

main {
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 50px;
	overflow:auto;
	color: black;
	min-height:100%;
}

footer{
	background-color: #ddd;
	font-size: 0.8em;
	color: black;
	border-top: 2px #600 solid;
	text-align:center;
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	display:block;
	clear:both;
}

nav {
	float: left;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 2px #600 solid;
}
nav li a.current {
	background-color: blue;
	color: #ffffff;
	font-weight: bold;
}

nav ul {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left:0px;
	padding: 0px;
}

nav li {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	list-style: none;
	width: 95%;
	padding-left: 5%;
	color:black;
}

nav > ul > li > ul > li {
	font-size: small;
}

nav div:hover{
        background-color: #9EB;
        -webkit-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
        transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
}


table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table th, table td {
	border: 1px solid #600;
	padding:5px;
}
table tr:first-child th {
	border-top: 0;
}
table tr:last-child td {
	border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
	border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
	border-right: 0;
}

#content{
	padding-top:30px;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:30px;
	overflow:auto;
}

/************** PER IL LAYOUT RESPONSIVE *********************/

@media screen and (max-width: 1023px) {
	nav {
		width:100%;
		text-align:center;
		margin: 20px 0px 20px 0px;
		border-radius: 15px;
		background-color: #ddd;
		padding-top: 1px;
		padding-bottom:1px;
		display: inline-block;
		border-bottom: 2px #600 solid;
	}
	#central {
		width: 100%;
		margin: 150px 0px 20px 0px;
		background-color: #ddd;
		border-radius: 15px;
	}
	header {
		padding-top: 25px;
		padding-bottom: 25px;
		margin: 20px 0px 20px 0px;
		width: 100%;
		background-color: #ddd;
		font-size: 1em;
		text-align: center;
		border-top: 2px #600 solid;
		border-bottom: 2px #600 solid;
	}
	.rcimg{
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		width:30%;
		border-radius:10%;
	}
	.rcimg img{
		width:100%;
	}
	.specialita{
		width:30%;
		display:inline-block;
		margin:5%;
		vertical-align:center;
	}
	.specialita div{
		text-align:center;
		height:2em;
	}
	.specialita img{
		width:100%;
		margin-bottom:5px;
		border-radius: 10%;
		box-shadow: 0px 0px 20px 0px #000000;
	}	
	.specialita img:hover{
		-webkit-filter: saturate(2);
		-moz-filter: saturate(2);
		filter: saturate(2);
		box-shadow: 0px 0px 30px 5px #FFFFFF;
	}
}

@media screen and (min-width: 1024px) {
	nav {
		display: inline-block;
		vertical-align: top;
		width: 17%;
		min-width:150px;
		margin-right:1%;
		margin-bottom:20px;
		border-radius: 15px;
		background-color: #ddd;
	}
	
	#central {
		display: inline-block;
		width: 81%;
		margin-left:auto;
		background-color: #ddd;
		border-radius: 15px;
		min-width:300px;
		border-top: 2px #600 solid;
	}
	
	header {
		padding-top: 25px;
		padding-bottom: 25px;
		margin: 30px 0px 30px 0px;
		width: 100%;
		background-color: #ddd;
		font-size: 1.6em;
		text-align: center;
		
		background: -webkit-linear-gradient(-90deg, #bbb, #ddd 10%,#ddd 90%, #bbb); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(-90deg, #bbb, #ddd 10%,#ddd 90%, #bbb); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(-90deg, #bbb, #ddd 10%,#ddd 90%, #bbb); /* For Firefox 3.6 to 15 */
		background: linear-gradient(-90deg, #bbb, #ddd 10%, #ddd 90%, #bbb); /* Standard syntax */
	
		border-top: 2px #600 solid;
		border-bottom: 2px #600 solid;
	}
	.rcimg{
		float:right;
		padding-left:10%;
		padding-bottom:10%;
	}
}

